* {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
html{
  scroll-behavior: smooth;
}

/* Reveal */
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
0% {
  transform: translateX(-100px);
  opacity: 0;
}
100% {
  transform: translateX(0);
  opacity: 1;
}
}
@keyframes fade-right {
0% {
  transform: translateX(100px);
  opacity: 0;
}
100% {
  transform: translateX(0);
  opacity: 1;
}
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

/* Back to Top */
#back-to-top {
  display: inline-block;
  background-color:#2B5881;
  width: 40px;
  height: 40px;
  line-height:40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 60px;
  right: 30px;
  margin: 5px 0px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  z-index: 1000;
}
#back-to-top i{
  color:white;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-top.show {
  opacity: 1;
}

/* UTILITY */
.line-black{
  height: 0.5px;
  background: black;
}
.line-white{
  height: 1px;
  background: white;
}

.jumbotron{
  background-image: url("../img/vila-1.png");
  background-size: cover;
  height: 800px;
  text-align: center;
  position: relative;
  font-weight: 500;
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 15s linear infinite 0s;
  animation-timing-function: ease-in-out;
}

@keyframes slideBg{
  0% {
    background-image: url("../img/vila-1.png");
  }

  25% {
    background-image: url("../img/vila-2.png");
  }

  50% {
    background-image: url("../img/vila-3.png");
  }

  74% {
    background-image: url("../img/vila-4.jpg");
  }

  100% {
    background-image: url("../img/vila-5.jpg");
  }
}

.jumbotron .container{
  position: relative;
  z-index: 1;
}
.jumbotron::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
}
.jumbotron .display-4{
  width: 100%;
  padding: 110px 0 10px;
  text-align: center;
  color: white;
  line-height: 60px;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.23999999463558197);
}
.jumbotron .p-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* blog */
/* .blog{
  text-align: center;
} */
/* .blog h1{
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}
.blog h2{
font-size: 25px;
font-weight: bold;
line-height: 20px;
} */
/* .blog p{
  font-size: 18px;
  line-height: 30px;
  margin-top: 25px;
} */

.comment-guest{
  background-color: #4377A7;
  color: white;
  margin: 120px 0 0 0;
  padding: 110px 0;
}

.search-villa{
  margin-top: 80px;
}

.gallery{
  margin: 100px 0;
}

.gallery .swiper-slide{
  opacity: 0.5;
  cursor: pointer;
  float: left;
  width: 20%;
  padding: 5px;
  transition: 0.3s;
}

.gallery .swiper-slide:hover{
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* coba */
.card-img-top{
  height:200px;
  margin-top: -90px;
  background-size: cover;

}

.pro-img {
  margin-top: -80px;
  margin-bottom: 20px;
}

.little-profile .pro-img img {
  width: 128px;
  height: 128px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%
}

/* avatar */
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: -50px 0 10px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 1px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


html body .m-b-0 {
  margin-bottom: 0px
}

h3 {
  line-height: 30px;
  font-size: 21px
}

.btn-rounded.btn-md {
  padding: 12px 35px;
  font-size: 16px
}

html body .m-t-10 {
  margin-top: 5px
}

.btn-primary,
.btn-primary.disabled {
  background: #7460ee;
  border: 1px solid #7460ee;
  -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
  box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in
}

.btn-rounded {
  border-radius: 60px;
  padding: 7px 18px
}

/* tab */
.tab-book {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-top: 20px;
}

/* Style the buttons inside the tab */
.tab-book button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 50px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.m-t-20 {
  margin-top: 20px
}

.pt-120 {
  padding: 120px 0 0 0;
}

.pt-80 {
  padding: 80px 0 0 0;
}

.px-6 {
  padding: 0 2.3rem;
}

.px-8 {
  padding: 0 5rem;
}

.f-64 {
  font-size: 60px;
}

.fs-20 {
  font-size: 20px;
}

.bg-primary {
  background: #4377A7 !important;
}

.btn-primary {
  background: #F4E379 !important;
  color: #4377A7 !important;
  border: none !important;
  outline: none !important;
  padding: 16px 32px;
}

.overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  color: white;
}

.h-100 {
  height: 100%;
}

.navbar-brand {
  height: 100px;
}

.nav-link:hover {
  transition: .2s all;
  border-bottom: 2px solid white;
  color: white !important;
}

.nav-link.active {
  border-bottom: 2px solid white;
}

.footer-villa{
  height: 200px;
  flex-grow: 0;
  width: 100%;
  background: #4377A7;
  margin: 56px 0;
}
.footer-villa p{
  color: white;
  font-size: 15px;
}

@media only screen and (max-width: 768px) {

  .nav-link.active,
  .nav-link:hover {
    border-bottom: none;
  }

  .swiper-slide,
  .swiper-slide-active {
    width: 300px !important;
  }

  .px-8,
  .px-6 {
    padding: 0;
  }
} 

.btn-secondary {
  background: transparent;
  border: solid 2px #4377A7;
  outline: none;
  color: #4377A7;
  padding: 16px 32px;
}

.btn-secondary:hover {
  background: #4377A7 !important;
}

.stars {
  width: 16px !important;
  height: 16px !important;
}

.img-testimonials {
  width: 70px !important;
}

.line {
  border-bottom: solid 1px #FFF;
  width: 100%;
}

.underline {
  padding-bottom: 15px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
}

.hero-profile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 200px 0 0 0;
  height: 100%;
}

/* edit img */

html,
body,
main,
.testimonials,
.container{
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper1 {
  height: fit-content !important;
}

.swiper-slide-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide-testimonials {
  text-align: center;
  background: #2B5881;
  position: relative;
  width: 800px;
  height: 300px;
  display: flex;

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.swiper-button-next.bg:after,
.swiper-button-prev.bg:after {
  font-size: 1rem !important;
  font-weight: 900;
  color: #2B5881;
}

.swiper-button-next.bg,
.swiper-button-prev.bg {
  background: #F4E379 !important;
  padding: 2rem;
  border-radius: 2rem;
}



    
